body {background-color: #FFF8DC;}

h2 {
            color: #000000;
            position: relative;
            left: 270px;
	    
	}  

  



p {
            color: #000000;
            font-size: 20px;
            position: relative;
	    left: 430px;
	    width: 600px;
	}









