body {
  background-color:#33FF5E;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
            color: #FF7F50 ;
        }  



p {
            color: rgb(191, 0, 255);
        }
        
        #paragraph-1 {
            background-color: yellow;
        }
