body {
  background-color:#33FF5E;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
            color: #FF7F50 ;
        }  


#paragraph-1 {
            background: rgb(235, 235, 5);
            float: right;
            width: 30%;
            margin-left: 10px;
                    
            }
